.login-page {
    .user-data {
        // width: 50%;
        justify-content: space-between;
    }
    .submit-btn {
        margin-top: 20px;
        width: 65px;
        text-align: center;
        // width: 50%;
        // span{
            background-color: gray;
            color: white;
            padding: 10px;
        // }
    }
}